.main-panel .container{
    margin-top: 115px !important;
}

.margin-left-3{
  margin-left: 3rem !important;
}

.margin-top-3{
  margin-top: 3rem !important;
}

#fingerprint-input-modal{
    z-index: 99999;
    display: none;
    padding: 50px 100px;
    background-color: #DE2768;
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%);
}
#fingerprint-input-modal h5{
    text-align: center;
    font-size: 26px;
    color: #FFF;
}
.overlay{
    display: none;
    z-index: 99998;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

/* .student-card{
  max-width: 950px !important;
  margin: 0 auto !important;
} */