.main-panel .container{
    margin-top: 115px !important;
}

.margin-left-3{
  margin-left: 3rem !important;
}

.margin-top-3{
  margin-top: 3rem !important;
}

/* .student-card{
  max-width: 950px !important;
  margin: 0 auto !important;
} */