* {
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
    /* background: -webkit-linear-gradient(left, #0e251f, #21a0ab); */
    /* background: linear-gradient(to right, #23555c, #21a0ab); */
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 15px;
}
header, main { 
    width: 100%;
    display: block;
    margin: 0 auto;
}

.header { 
  padding: 5px;
  width: 100%;
  height: 100px;
}
.logo a {
  text-decoration: none; 
  font-family: Luminari, fantasy;
  font-size: 45px;
  color: #000000;
  font-style: italic;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  display: block;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  padding: 16px;
}

.topnav { 
  z-index: 9999;
  width: 100%;
  height: 45px;
  background-image: linear-gradient(to right top, #3ab9f0, #4fccf3, #6cdef4, #8deff5, #affff8);
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 550;
  padding: 14px 16px;
  font-size: 16px;
  transition: all .2s linear;
  color: white;
}

.shadow{
  box-shadow: 1px 0px 20px rgba(0,0,0,0.5);
}
.topnav a:hover {
  background-color: #E2FFF9;
  color: #000000;
  transition: all .2s ease-in;
}

.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .header { 
    height: 80px;
  }
  .logo a {
    font-size: 27px;
    line-height: 80px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}	
tbody tr:nth-child(even){background-color: #388994;}
tbody tr:nth-child(odd){background-color: #3f9aa6;}

tbody tr:hover {opacity: 0.8;}