.form-style-5{
  max-width: 490px;
  height: 850px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 30px 20px;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
  border: none;
  margin-top: 0;
}

.form-style-5 legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.form-style-5 label {
  display: block;
  margin-bottom: 8px;
  font-family: Verdana, sans-serif;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="time"] {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  background-color: #e8eeef;
  color:#8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border: 1px solid #e8eeef;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="time"]:focus {
  background: #d2d9dd;
}
.form-style-5 input[type="text"]:hover,
.form-style-5 input[type="email"]:hover,
.form-style-5 input[type="number"]:hover,
.form-style-5 input[type="time"]:hover {
  border: 1px solid #388994;
}
.form-style-5 input[type="radio"]:hover {
  cursor: pointer;
}
.form-style-5 .number {
  background: #388994;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 15px 15px 15px 0px;
}

.form-style-5 button {
  position: relative;
  display: block;
  padding: 10px 39px 10px 39px;
  color: #FFF;
  margin: 0 auto;
  background: #388994;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #3f9aa6;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}
.form-style-5 button:hover {
  background: #3f9aa6;
  cursor: pointer;
}
.form-style-5 .alert {
  width: 100%;
  height: 30px;
}
.form-style-5 #alert {
  display: none;
  width: 90%;
  text-align: center;
  position: absolute;
  color: #fff;
  padding: 5px;
  border: 1px solid #2e6b32;
  background: -webkit-linear-gradient(left, #70c276, #2e6b32);
  background: linear-gradient(to right, #70c276, #2e6b32);
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1{
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  font-weight: 300;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height: 790px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
tbody button {
  background-color: transparent;
  border: none;
  display: block;
  margin: auto;
  border-bottom: 2px solid #0e2225;
  color: #0e2225;
}
tbody button:hover {
  cursor: pointer;
  border-bottom: 2px solid #3e9ba8;
  color: black;
}
th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 13px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.5);
}

.section {
  margin: 50px;
  width: 740px;
  display: block;
  float: right;
  position: absolute;
  top: 219px;
  right: 0;
}
.section img {
  display: block;
  float: left;
  position: absolute;
  margin: 0 6px 5px 0;
  width: 25px;
}
::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
@media screen and (max-width: 600px) {
  .section {
    display: block;
    float: left;
    position: relative;
    top: 0px;
    right: 0px;
    width: 100%;
    padding: 10px 20px;
    margin: 20px 2px;
    padding: 20px;
  }
  .section img {
    width: 15px;
    margin: 3px;
  }
  h1 {
    font-size: 19px;
    padding: 5px 8px;
  }
  th {
    font-size: 12px;
    padding: 10px 2px;
  }
  td {
    font-size: 11px;
    padding: 4px 2px;
  }
}
#finger_sel {
  background-color: transparent;
  border: none;
  display: block;
  margin: auto;
  border-bottom: 2px solid #187881;
  color: black;
}
#finger_sel:hover {
  cursor: pointer;
}

.section {
  overflow-x:hidden;
}
.slideInRight {
  animation-name: slideInRight;
} 
.slideInDown {
  animation-name: slideInDown;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}