
.btn-table{
    position: absolute!important;
    right: 32px!important;
    bottom: -90px!important;
    z-index: 9999!important;
}

/* .logo {
    margin-bottom: 10px !important;
    padding: 20px 0 !important;
}
*/
.logo .logo-mini .sidebar-logo-top img{
    /* display: inline-block !important;
    margin-bottom: 10px !important; */
    /* background: "../icons/ok_check.png" !important; */
    height: 30px !important;
    z-index: 9999 !important;
}

.logo .sidebar-logo-top-text{
    font-size: 18px !important;
    text-transform: capitalize !important;
}